# torch==2.5.1
# torchvision==0.20.1
torch
torchvision
timm
albumentations
onnx
onnxruntime
pycocotools
PyYAML
scipy
onnxslim
onnxruntime-gpu
gradio
opencv-python
psutil
py-cpuinfo
huggingface-hub
safetensors
numpy
supervision
matplotlib